.type-07 {
  color: #888;
  font-family: Roboto Condensed,Helvetica,Arial,sans-serif;
  
  .title-widget{
    margin-bottom: 30px;
    h2{
      color: #3b3331;
      font-family: Dosis-Bold,Helvetica,Arial,sans-serif;
     
    }
  }
  .content__text-widget{
    p{
      font-size: 1.1112rem;
    }
    .hr--dotted{
      background: repeating-linear-gradient(90deg,rgba(0,0,0,.1),rgba(0,0,0,.1) 2px,transparent 0,transparent 6px);
    height: 2px;
    border: 0;
    }
    .textwidget-bottom{
      color: #3b3331;
      font-family: Dosis-Bold,Helvetica,Arial,sans-serif;
    

    }
  }
  img{
    margin: 5px 20px 20px 0;
  }
  .images-editor{
    img{
    width: 100%;
    height: auto;
  }}
}