.container .row {
  margin: 20px;
}
.container .row .trai {
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #888;
  margin-top: 30px;
}
.container .row .trai .line {
  margin-top: 100px;
}
.container .row .title h6 {
  margin-bottom: .5rem;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.2;
  font-weight: bold;
  color: #3b3331;
}
