@font-face {
  font-family: 'Dosis-Bold';
  src: url('../fonts/Dosis-Bold.ttf.');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed'), local('RobotoCondensed'), url("../fonts/RobotoCondensed-Regular.ttf") format('truetype');
}
@media (min-width: 992px) {
  .type-42 .custom-card {
    width: 25%;
  }
  .type-42 .filter-header {
    display: inline-block;
    border-top: 0;
  }
  .type-42 .filter-header .btn {
    display: inline-block;
    padding: 1.11111rem 1.11111rem 1rem;
  }
}
.type-42 .filter-header {
  margin-bottom: 10px;
}
.type-42 .filter-header:after {
  position: absolute;
  content: "";
  right: -2px;
  top: calc(49.44444%);
  background: repeating-linear-gradient(180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
  width: 2px;
  height: 1.11111rem;
}
.type-42 .filter-header .btn {
  background: none !important;
  border: none;
  font-family: Dosis-Bold, Helvetica, Arial, sans-serif;
  font-size: .83333rem;
  font-weight: 800;
  color: #888;
  text-transform: uppercase;
  text-decoration: none;
}
.type-42 .filter-header .btn:hover {
  color: #3b3331;
}
.type-42 .filter-header .active {
  position: relative;
  left: 0;
  right: 0;
  color: #3b3331 !important;
}
.type-42 .filter-header .active:focus {
  box-shadow: none !important;
}
.type-42 .show {
  display: block !important;
}
.type-42 .card-deck {
  overflow: hidden;
}
.type-42 .card-deck .custom-card {
  display: none;
  color: inherit;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
}
.type-42 .card-deck .custom-card:hover {
  text-decoration: none;
}
.type-42 .card-deck .custom-card .card .card-img-top img {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.type-42 .card-deck .custom-card .card .card-body {
  position: relative;
  padding: 1.22222rem 1.38889rem .72222rem;
}
.type-42 .card-deck .custom-card .card .card-body .card-price {
  position: absolute;
  display: inline-block;
  top: -0.61111rem;
  font-size: .83333rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #d80019;
  color: #fff;
  padding: 0 .27778rem;
  left: 1.38889rem;
}
.type-42 .card-deck .custom-card .card .card-body .card-title {
  font-size: .83333rem;
  margin-bottom: .11111rem;
  text-transform: uppercase;
  font-family: Dosis-Bold, Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.2;
}
.type-42 .card-deck .custom-card .card .card-body .card-items {
  color: #888;
  position: relative;
  margin-top: .66667rem;
  padding-top: .66667rem;
}
.type-42 .card-deck .custom-card .card .card-body .card-items:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-42 .card-deck .custom-card .card .card-body .card-items .card-item {
  padding: 0;
  font-size: .83333rem;
  margin-bottom: 0;
}
.type-42 .card-deck .custom-card .card .card-body .card-items .card-item .fa {
  width: 1rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
