@font-face {
	src: url(../fonts/RobotoCondensed-Light.ttf);
	font-family: Roboto Condensed;
}
@font-face {
	src: url(../fonts/Dosis-ExtraBold.ttf);
	font-family: Dosis;
}
@font-face {
	src: url(../fonts/Dosis-Regular.ttf);
	font-family: Dosis-Regular;
}

