.type-78 {
  background: url("../images/shaka-background.png");
  padding: 30px 0;
}
.type-78 .cover-type78 .title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.type-78 .cover-type78 .accordion {
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.15);
  margin-top: 10px;
}
.type-78 .cover-type78 .accordion a {
  text-decoration: none;
}
.type-78 .cover-type78 .accordion .hr--dotted {
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
  height: 2px;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 89%;
}
.type-78 .cover-type78 .accordion .accordion__panel .accordion__content .panel-body {
  position: relative;
  font-size: .98889rem;
  padding: 1.11111rem 3.05556rem 1.11111rem 1.66667rem;
  border-top: 2px solid transparent;
  color: #888;
}
.type-78 .cover-type78 .accordion .accordion__panel .accordion__content .panel-body::before {
  position: absolute;
  content: "";
  width: calc(90%);
  height: 2px;
  left: 1.85889rem;
  top: -2px;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title {
  margin: 0;
  color: #3b3331;
  font-weight: 700;
  line-height: 1.2;
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title a.collapsed::after {
  content: "\f067";
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title a {
  position: relative;
  display: block;
  padding: 1.27778rem 3.05556rem 1.22222rem 1.66667rem;
  font-weight: 700;
  font-size: .91778rem;
  text-transform: uppercase;
  border-top: 2px solid transparent;
  transition: all .1s ease-out;
  color: #3b3331;
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title a::after {
  position: absolute;
  content: "\f068";
  font-family: FontAwesome;
  right: 1.27778rem;
  top: calc(29.80556%);
  width: 1.38889rem;
  height: 1.38889rem;
  text-align: center;
  line-height: 1.44444rem;
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title a:hover {
  color: #d80019;
  transition: .3s;
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title1 {
  margin: 0;
  color: #3b3331;
  font-weight: 700;
  line-height: 1.2;
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title1::after {
  content: "";
  width: calc(89%);
  height: 2px;
  left: 1.68889rem;
  top: 0px;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title1 a.collapsed::after {
  content: "\f067";
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title1 a {
  position: relative;
  display: block;
  padding: 1.27778rem 3.05556rem 1.22222rem 1.66667rem;
  font-weight: 700;
  font-size: .91778rem;
  text-transform: uppercase;
  border-top: 2px solid transparent;
  transition: all .1s ease-out;
}
.type-78 .cover-type78 .accordion .accordion__panel .panel-title1 a::after {
  position: absolute;
  content: "\f068";
  font-family: FontAwesome;
  right: 1.27778rem;
  top: calc(29.80556%);
  width: 1.38889rem;
  height: 1.38889rem;
  text-align: center;
  line-height: 1.44444rem;
}
