.type-26 {
  color: #888;
  font-family: Dosis-Bold, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Dosis-Bold';
  src: url('../fonts/Dosis-Bold.ttf.');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed'), local('RobotoCondensed'), url("../fonts/RobotoCondensed-Regular.ttf") format('truetype');
}
.type-26 .person-profile img {
  width: 100%;
}
.type-26 .person-profile .text-holder {
  position: absolute;
  display: inline-block;
  top: -0.91111rem;
  font-size: 0.93333rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #d80019;
  color: #fff;
  padding: 5px;
  left: 1.38889rem;
}
.type-26 .person-profile .person-profile__container {
  position: relative;
  padding: 2.22222rem 2.22222rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.15);
}
.type-26 .person-profile .person-profile__container .card-title {
  margin-bottom: .66667rem;
  color: #3b3331;
}
.type-26 .person-profile .person-profile__container .card-description {
  font-size: .98889rem;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
}
.type-26 .person-profile .person-profile__container .person-profile__skills {
  position: relative;
  color: #bbb;
  padding-top: 1.11111rem;
}
.type-26 .person-profile .person-profile__container .person-profile__skills::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-26 .person-profile .person-profile__container .person-profile__skills .person-profile__skill-rating {
  color: #3b3331;
}
.type-26 .person-profile .person-profile__container .person-profile__skills .person-profile__skill-rating:first-of-type {
  margin-left: .38889rem;
}
.type-26 .person-profile .person-profile__container .person-profile__tags {
  position: relative;
  padding-top: .16667rem;
  font-size: .822222rem;
  color: #bbb;
}
.type-26 .person-profile .person-profile__container .person-profile__tags .person-profile__tag {
  display: inline-block;
  padding: .25rem .55556rem;
  margin-bottom: .16667rem;
  background-color: #f7f7f7;
}
.type-26 .person-profile .person-profile__container .person-profile__social-icons {
  position: relative;
  margin-top: 1.11111rem;
  padding-top: .61111rem;
  color: #bbb;
}
.type-26 .person-profile .person-profile__container .person-profile__social-icons::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-26 .person-profile .person-profile__container .person-profile__social-icons .person-profile__social-icon {
  color: #d80019;
  padding-right: 0.388889rem;
  font-size: 1.53333rem;
}
.type-26 .person-profile .person-profile__container .person-profile__social-icons .person-profile__social-icon:first-of-type {
  margin-left: .38889rem;
}
