.container {
  color: #888;
  line-height: 1;
}
.container .row {
  margin: 10px;
}
.container .row .trai {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  color: #888;
}
.container .row .trai .title h5 {
  margin-bottom: .5rem;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.2;
  color: #3b3331;
}
.container .row .trai .des {
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #888;
}
.container .row .trai a {
  position: relative;
  display: block;
  padding: .88889rem 1.11111rem .61111rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.15);
  margin-top: 20px;
  color: #888;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: .88889rem;
  text-transform: uppercase;
  margin-left: .38889rem;
}
.container .row .trai a :hover {
  color: #000;
}
.container .line {
  margin-left: 25px;
}
.container .row {
  margin: 10px;
}
.container .row .trai2 {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  color: #888;
}
.container .row .trai2 .title h5 {
  margin-bottom: .5rem;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.2;
  color: #3b3331;
}
.container .row .trai2 .des {
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #888;
}
.container .row .trai2 a {
  position: relative;
  display: block;
  padding: .88889rem 1.11111rem .61111rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.15);
  margin-top: 20px;
  color: #888;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: .88889rem;
  text-transform: uppercase;
  margin-left: .38889rem;
}
.container .row .trai2 a :hover {
  color: #000;
}
