.type-71 {
  background: url("../images/shaka-background.png");
  padding: 30px 0;
}
.type-71 .cover-type71 {
  font-weight: 700;
}
.type-71 .cover-type71 .cover-time-active1 {
  border: 1px solid #e6e6e6;
  padding: 28px 20px;
}
.type-71 .cover-type71 .cover-time-active {
  padding: 28px 20px;
  background: #f4f4f4;
}
.type-71 .cover-type71 .time-active {
  display: flex;
  font-weight: 500;
  color: #888888;
  margin-bottom: 5px;
  font-weight: 700;
}
.type-71 .cover-type71 .time-active .dot-time {
  flex: 1;
}
.type-71 .cover-type71 .time-active:nth-child(6) {
  color: #d80019;
}
.type-71 .cover-type71 .open-time {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 25px;
  color: #3b3331;
}
.type-71 .cover-type71 .open-time::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  left: 10%;
  top: 15%;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-71 .cover-type71 .title-type71 {
  text-align: center;
  margin-bottom: 30px;
}
.type-71 .cover-type71 .title-type71 h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #3b3331;
}
