@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf.');
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .type-44 .modal .carousel-control-prev {
    left: -200px;
  }
  .type-44 .modal .carousel-control-next {
    right: -200px;
  }
}
.type-44 .portfolio__gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-content: flex-start;
}
.type-44 .portfolio__gallery img {
  object-fit: cover;
  cursor: zoom-in;
}
.type-44 .portfolio__gallery .portfolio__gallery-item {
  width: calc(25.02222%);
  margin-right: .27778rem;
  display: block;
  margin: 0 .27778rem .27778rem 0;
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}
.type-44 .portfolio__gallery .portfolio__gallery-item:hover .gallery-caption {
  opacity: 1;
}
.type-44 .portfolio__gallery .portfolio__gallery-item .img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}
.type-44 .portfolio__gallery .portfolio__gallery-item .gallery-caption {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
  display: block;
}
.type-44 .modal .modal-gallery-caption {
  color: #fff;
}
.type-44 .modal .carousel-control-prev {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M15.41%207.41L10.83%2012l4.58%204.59L14%2018l-6-6%206-6%201.41%201.41z%22/%3E%0A%3C/svg%3E);
  background-position: -5px 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% auto;
  cursor: pointer;
  display: block;
  height: 60px;
  margin-top: -30px;
  opacity: .4;
  overflow: hidden;
  position: fixed;
  text-indent: 100%;
  top: 50%;
  user-select: none;
  white-space: nowrap;
  width: 60px;
}
.type-44 .modal .carousel-control-prev:hover {
  opacity: 1;
}
.type-44 .modal .carousel-control-next {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M8.59%2016.59L13.17%2012%208.59%207.41%2010%206l6%206-6%206-1.41-1.41z%22/%3E%0A%3C/svg%3E);
  background-position: 0 0;
  background-color: transparent;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  cursor: pointer;
  display: block;
  height: 60px;
  margin-top: -30px;
  opacity: .4;
  overflow: hidden;
  position: fixed;
  text-indent: 100%;
  top: 50%;
  user-select: none;
  white-space: nowrap;
  width: 60px;
}
.type-44 .modal .carousel-control-next:hover {
  opacity: 1;
}
.type-44 .modal button.close {
  right: 0;
  outline: 0;
}
.modal-backdrop {
  background-color: #000 !important;
  opacity: 0.9 !important;
}
