.type-15 {
  color: #a5a2a1;
  font-size: .88889rem;
  background-color: #3b3331;
}
.type-15 .footer-top {
  width: calc(96.66667%);
  margin: 1.66667rem 1.66667rem 0;
  padding: 3.11111rem 0 3.05556rem;
  box-shadow: 0 1px 10px rgba(0,0,0,0.35);
}
.type-15 .footer-top .widget-footer .footer-top_heading {
  color: #ffffff;
  font-size: 1.11111rem;
  margin-bottom: 1.22222rem;
  text-transform: uppercase;
}
.type-15 .footer-top .widget-footer ul {
  padding-left: 0;
  list-style: none;
}
.type-15 .footer-top .widget-footer ul a {
  color: #888888;
}
