.type-81 {
  background: url("../images/shaka-background.png");
  padding: 30px 0;
}
.type-81 .cover-type81 .panel-grid-cell {
  width: calc(46%);
  display: inline-flex;
}
.type-81 .cover-type81 .panel-grid-cell .fb_fb {
  position: absolute;
  top: -10000px;
  width: 0px;
  height: 0px;
}
.type-81 .cover-type81 .panel-grid-cell .post_post {
  vertical-align: bottom;
  width: 508px;
  height: 558px;
}
