.type-22 {
  background: #f2f2f2;
}
.type-22 .type-22__title {
  font-size: 2.66667rem;
  margin-bottom: 2.66667rem;
}
.type-22 .type-22__breadcrumb {
  position: relative;
  display: flex;
  padding: 1.05556rem 0;
}
.type-22 .type-22__breadcrumb::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-22 .type-22__breadcrumb__item {
  color: #999;
}
.type-22 .type-22__breadcrumb__item::after {
  font-family: FontAwesome;
  content: "\f178";
  color: #a39f9f;
  font-size: 1rem;
  margin-right: .83333rem;
  margin-left: .83333rem;
}
.type-22 .type-22__breadcrumb__item-primary {
  color: #d80019;
}
.type-22 a:hover {
  text-decoration: none;
  color: #d80019;
}
