.type-83 .type-83__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 20px 0 40px 0;
}
.type-83 .type-83__item {
  padding: 100px 70px;
  letter-spacing: -0.5px;
}
.type-83 .type-83__item:nth-child(1) {
  background: #f4f4f4;
  color: gray;
}
.type-83 .type-83__item:nth-child(2) {
  background: #d80019;
  color: #fff;
}
.type-83 .type-83__item:nth-child(3) {
  background: #333333;
  color: #fff;
}
