.type-68 {
  background: url("../images/shaka-background.png");
  margin: 30px 0;
}
.type-68 .cover-type68 .title {
  font-size: 1.89rem;
  font-weight: 700;
}
.type-68 .cover-type68 .content {
  font-size: 1.15rem;
  color: #888;
}
.type-68 .cover-type68 .hr--dotted {
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
  height: 2px;
  border: 0;
}
.type-68 .cover-type68 .sub_title {
  font-size: 1.21rem;
  font-weight: 700;
  margin-bottom: .3rem;
}
.type-68 .cover-type68 .read_more {
  margin-top: 1.3rem;
}
.type-68 .cover-type68 .read_more a {
  font-weight: 700;
}
.type-68 .cover-type68 .sailing_form {
  background: #fff;
  color: #888;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.15);
  margin-top: 3rem;
}
.type-68 .cover-type68 .sailing_form .sailing_appli {
  padding: 20px 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.15);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
}
.type-68 .cover-type68 .sailing_form .sailing_appli i {
  margin-right: 10px;
  font-size: 23px;
}
.type-68 .cover-type68 .img {
  margin-bottom: 50px;
}
