@font-face {
  font-family: 'Dosis-Bold';
  src: url('../fonts/Dosis-Bold.ttf.');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-Extra-Bold';
  src: url('../fonts/Dosis-ExtraBold.ttf.');
  font-weight: 800;
  font-style: normal;
}
.type-40 .hentry {
  position: relative;
  width: 100%;
}
.type-40 .hentry .meta {
  position: relative;
  margin-top: 1.5rem;
  padding-top: 1.77778rem;
  text-align: right;
}
.type-40 .hentry .meta:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-40 .hentry .meta .meta__item {
  font-size: .72222rem;
  font-family: Dosis-Bold, Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.type-40 .hentry .meta .meta__item a {
  display: inline-block;
  background-color: #f7f7f7;
  color: #bbb;
  margin-right: .27778rem;
  margin-bottom: .27778rem;
  padding: .30556rem .55556rem;
}
.type-40 .hentry .meta .meta__item a:hover {
  text-decoration: none;
  background-color: #eaeaea;
  color: #aeaeae;
}
.type-40 .hentry .meta .author {
  float: left;
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: .11111rem;
  margin-right: .55556rem;
  color: #bbb;
}
