html {
  font-size: 18px;
  line-height: 1.5;
  color: #545454;
}
.type-11 {
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #888;
  background-color: #fff;
  margin-top: 30px;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraBold.ttf.');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf.');
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 768px) {
  .type-11 .testimonial__container:before {
    left: -1.38889rem;
  }
}
.type-11 .widget-testimonials {
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.15);
}
.type-11 .widget-testimonials:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  width: 2px;
  height: calc(89.77778%);
  top: 1.11111rem;
  background: repeating-linear-gradient(180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
  left: 1.11111rem;
}
.type-11 .widget-testimonials:after {
  content: "";
  display: table;
  clear: both;
  right: 1.11111rem;
  position: absolute;
  z-index: 3;
  width: 2px;
  height: calc(89.77778%);
  top: 1.11111rem;
  background: repeating-linear-gradient(180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-11 .widget-testimonials .testimonial__container {
  position: relative;
  background-color: #fff;
  margin-bottom: .27778rem;
}
.type-11 .widget-testimonials .testimonial__container:before {
  content: "“";
  left: -0.83333rem;
  top: 2.22222rem;
  position: absolute;
  z-index: 4;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-size: 5.55556rem;
  font-weight: 800;
  text-align: center;
  width: 3.77778rem;
  height: 5rem;
  line-height: 7.5rem;
  background-color: #d80019;
  color: #fff;
}
.type-11 .widget-testimonials .testimonial__container:after {
  content: "“";
  right: -0.83333rem;
  bottom: 2.22222rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  z-index: 4;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-size: 5.55556rem;
  font-weight: 800;
  text-align: center;
  width: 3.77778rem;
  height: 5rem;
  line-height: 7.5rem;
  background-color: #d80019;
  color: #fff;
}
.type-11 .widget-testimonials .testimonial__container .widget-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 3.33333rem;
  padding-bottom: 0;
  margin-bottom: -1.5rem;
  font-size: 1.66667rem;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.2;
  color: #3b3331;
}
.type-11 .widget-testimonials .testimonial__container .widget-title:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(96.9%);
  height: 2px;
  left: 1.11111rem;
  top: 1.11111rem;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
}
.type-11 .widget-testimonials .testimonial__container .testimonial {
  position: relative;
  padding: 3.33333rem 20%;
}
.type-11 .widget-testimonials .testimonial__container .testimonial:after {
  position: absolute;
  content: "";
  width: calc(96.9%);
  height: 2px;
  left: 1.11111rem;
  background: repeating-linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,transparent 0,transparent 6px);
  bottom: 1.11111rem;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner .carousel-item blockquote {
  font-size: 1.11111rem;
  text-align: center;
  margin-bottom: 1.44444rem;
  margin: 0 0 1rem;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner .carousel-item blockquote p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner .carousel-item .testimonial__author-container {
  text-align: center;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner .carousel-item .testimonial__author-container .testimonial__carousel {
  color: #d80019;
  font-size: 1.66667rem;
  vertical-align: middle;
  padding: 0 .94444rem;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner .carousel-item .testimonial__author-container .testimonial__author {
  display: inline-block;
  color: #d80019;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  vertical-align: middle;
  text-transform: uppercase;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner .carousel-item .testimonial__author-container .testimonial__author .testimonial__author-name {
  display: inline-block;
  font-style: normal;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner .carousel-item .testimonial__author-container .testimonial__author .testimonial__author-description {
  display: inline-block;
}
.type-11 .widget-testimonials .testimonial__container .testimonial .carousel-inner .carousel-item .testimonial__author-container .testimonial__rating {
  color: #fac800;
}
