.type-31 .title-hour-working {
  margin-bottom: 30px;
}
.type-31 .time-table {
  margin-bottom: 30px;
}
.type-31 .time-table .week-day {
  color: #888;
  padding: 0;
  margin-bottom: .5rem;
  font-size: .77778rem;
  display: flex;
  justify-content: space-between;
}
.type-31 .time-table .week-day dt {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: .83333rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  padding-right: .55556rem;
}
.type-31 .time-table .week-day dd {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: .83333rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
}
.type-31 .time-table .today {
  color: #d80019;
}
.type-31 .widget-box {
  font-size: 1.4rem;
  color: #888;
  margin-bottom: 30px;
}
.type-31 .widget-box .widget-box__file {
  position: relative;
  display: block;
  padding: .88889rem 1.11111rem .61111rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.15);
}
.type-31 .widget-box .widget-box__file a {
  color: #888;
}
.type-31 .widget-box .widget-box__file a:hover {
  text-decoration: none;
  color: #3b3331;
}
.type-31 .widget-box .widget-box__file h5 {
  display: inline-block;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: .88889rem;
  margin-left: .38889rem;
}
.type-31 .btn-book-trip {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  background-color: #3b3331;
  text-align: center;
}
.type-31 .btn-book-trip:hover {
  background-color: #2d2725;
  cursor: pointer;
}
.type-31 .btn-book-trip p a {
  color: #f7f7f7;
  font-size: .83333rem;
  display: inline-block;
  padding: .88889rem 1.38889rem;
  font-weight: 800;
  border: 1px solid transparent;
}
.type-31 .btn-book-trip p a:hover {
  text-decoration: none;
}
